# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
git clone http||ssh 克隆一份代码到本地仓库 
git status 查看当前分支有哪些修改 
git diff //查看当前没有add的内容
git diff --cache //查看已经add但是没有commit的内容
git add . 将本地所有新增文件提交到本地缓存区 
git add [filepath] 将本地某个新增文件提交到本地缓存区
git commit -m 'log' –a 把stage中所有的修改提交到本地库 
git push //把本地库的修改提交到远程库中
git pull把远程库的代码更新到工作台
git pull --rebase origin master 强制把远程库的代码跟新到当前分支上面
git fetch //把远程库的代码更新到本地库
git branch -r/-a //查看远程分支/全部分支
git checkout master/branch //切换到某个分支
git blame someFile //查看某个文件的每一行的修改记录（）谁在什么时候修改的）
git log //查看当前分支上面的日志信息
git reset --hard HEAD //撤销本地修改
git remote –v  查看远程仓库地址
git branch 分支名 创建新的分支
git revert 【filepath】将本地修改还原回 线上的版本
